<div class="user-details">
  <h1>My Hobby</h1>
</div>

<div class="user-projects">
  <div id="slider1" class="slider">
    <div class="slide images-left"><img alt="Bryce Canyon National Park" src="assets/img/slider1/bryce1.jpeg" /></div>
    <div class="slide images-left"><img alt="Bryce Canyon National Park" src="assets/img/slider1/bryce2.jpeg" /></div>
    <div class="slide images-left"><img alt="Bryce Canyon National Park" src="assets/img/slider1/bryce3.jpeg" /></div>
    <div class="slide images-left"><img alt="Bryce Canyon National Park" src="assets/img/slider1/bryce4.jpeg" /></div>
    <div class="slide images-left"><img alt="Bryce Canyon National Park" src="assets/img/slider1/zion1.jpeg" /></div>
    <div class="slide images-left"><img alt="Bryce Canyon National Park" src="assets/img/slider1/zion2.jpeg" /></div>
  </div>
  <div class="contents-right">
    <h3>Exploring National Parks</h3>
    <ul>
      <li>Landscape Photography, Nature, Adventure</li>
    </ul>
    <p>As an avid photographer, I love to capture the beauty of nature through my lens. Whether it's the majestic arches of Bryce Canyon National Park or the serene tranquility of hidden caves, each photograph tells a unique story and allows me to share my passion for exploration and adventure with others.</p>
    <!-- <a class="project-link" href="https://doi.org/10.1007/978-981-99-1726-6_6">Check it out</a> -->
  </div>
</div>

<div class="user-projects">
  <div id="slider2" class="slider">
    <div class="slide images-right"><img alt="Page Arizona" src="assets/img/slider2/page1.jpeg" /></div>
    <div class="slide images-right"><img alt="Page Arizona" src="assets/img/slider2/page2.jpeg"/></div>
    <div class="slide images-right"><img alt="Page Arizona" src="assets/img/slider2/page3.jpeg" /></div>
    <div class="slide images-right"><img alt="Page Arizona" src="assets/img/slider2/page4.jpeg"/></div>
  </div>
  <div class="contents">
    <h3>Exploring Arizona</h3>
    <ul>
      <li>Landscape Photography, Nature, Adventure</li>
    </ul>
    <p>As an enthusiastic photographer, I'm drawn to the captivating landscapes of Page, Arizona. From the surreal beauty of Antelope Canyon to the majestic vistas of Horseshoe Bend, each click of my camera captures the essence of this remarkable place, allowing me to share the magic of my adventures with the world.</p>
  </div>
</div>

<script>
  // JavaScript for slider functionality
  let slideIndex1 = 0;
  showSlides("slider1");

  let slideIndex2 = 0;
  showSlides("slider2");

  function showSlides(sliderId) {
    let slides = document.getElementById(sliderId).getElementsByClassName("slide");
    for (let i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    if (sliderId === "slider1") {
      slideIndex1++;
      if (slideIndex1 > slides.length) { slideIndex1 = 1 }
      slides[slideIndex1 - 1].style.display = "block";
      setTimeout(() => showSlides(sliderId), 2000); // Change image every 2 seconds
    } else if (sliderId === "slider2") {
      slideIndex2++;
      if (slideIndex2 > slides.length) { slideIndex2 = 1 }
      slides[slideIndex2 - 1].style.display = "block";
      setTimeout(() => showSlides(sliderId), 3000); // Change image every 3 seconds
    }
  }
</script>

<style>
  /* CSS for slider */
  .slider {
    max-width: 100%;
    position: relative;
    margin-bottom: 20px;
  }

  .slide {
    display: none;
  }

</style>
