<div class="user-details">
  <h1>My Hobby</h1>
</div>

<div class="user-projects">
  <div id="slider1" class="slider">
    <div class="slide images-left"><img alt="coder" src="assets//img//Arch.jpeg" /></div>
    <div class="slide images-left"><img alt="mountains" src="assets//img//Cave.jpeg"/></div>
  </div>
  <div class="contents-right">
    <h3>Photography: Exploring Nature Through My Lens</h3>
    <ul>
      <li>Landscape Photography, Nature, Adventure</li>
    </ul>
    <p>As an avid photographer, I love to capture the beauty of nature through my lens. Whether it's the majestic arches of Bryce Canyon National Park or the serene tranquility of hidden caves, each photograph tells a unique story and allows me to share my passion for exploration and adventure with others.</p>
    <!-- <a class="project-link" href="https://doi.org/10.1007/978-981-99-1726-6_6">Check it out</a> -->
  </div>
</div>


<div class="user-projects">
  <div id="slider2" class="slider">
    <div class="slide images-left"><img alt="coder" src="assets//img//Arch.jpeg" /></div>
    <div class="slide images-left"><img alt="mountains" src="assets//img//Cave.jpeg"/></div>
  </div>
  <div class="contents-right">
    <h3>Photography: Exploring Nature Through My Lens</h3>
    <ul>
      <li>Landscape Photography, Nature, Adventure</li>
    </ul>
    <p>As an avid photographer, I love to capture the beauty of nature through my lens. Whether it's the majestic arches of Bryce Canyon National Park or the serene tranquility of hidden caves, each photograph tells a unique story and allows me to share my passion for exploration and adventure with others.</p>
    <!-- <a class="project-link" href="https://doi.org/10.1007/978-981-99-1726-6_6">Check it out</a> -->
  </div>
</div>

<script>
  // JavaScript for slider functionality
  let slideIndex1 = 0;
  showSlides("slider1");

  let slideIndex2 = 0;
  showSlides("slider2");

  function showSlides(sliderId) {
    let slides = document.getElementById(sliderId).getElementsByClassName("slide");
    for (let i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    if (sliderId === "slider1") {
      slideIndex1++;
      if (slideIndex1 > slides.length) { slideIndex1 = 1 }
      slides[slideIndex1 - 1].style.display = "block";
      setTimeout(() => showSlides(sliderId), 2000); // Change image every 2 seconds
    } else if (sliderId === "slider2") {
      slideIndex2++;
      if (slideIndex2 > slides.length) { slideIndex2 = 1 }
      slides[slideIndex2 - 1].style.display = "block";
      setTimeout(() => showSlides(sliderId), 3000); // Change image every 3 seconds
    }
  }
</script>

<style>
  /* CSS for slider */
  .slider {
    max-width: 100%;
    position: relative;
    margin-bottom: 20px;
  }

  .slide {
    display: none;
  }

</style>
