<div class="user-details">
    <h1> My Hobby</h1>
</div>
<!-- First Instagram Post -->
<div class="user-photography">
  <div class="images-left">
    <!-- Embedded Instagram Image -->
    <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/CzJ7bl_vmPz/" data-instgrm-version="13"></blockquote>
    <script async src="//www.instagram.com/embed.js"></script>
  </div>
  <div class="contents-right">
    <h3>Instagram Photography</h3>
    <p>Here is one of my photography works from Instagram:</p>
    <!-- Add a description if necessary -->
  </div>
</div>

<!-- Second Instagram Post -->
<div class="user-photography">
  <div class="images-right">
    <!-- Embedded Instagram Image -->
    <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/C4ARO6Yueyj/" data-instgrm-version="13"></blockquote>
    <script async src="//www.instagram.com/embed.js"></script>
  </div>
  <div class="contents-right">
    <h3>Instagram Photography</h3>
    <p>Here is another one of my photography works from Instagram:</p>
    <!-- Add a description if necessary -->
  </div>
</div>

