<div class="user-details">
    <h1> My Hobby</h1>
</div>
<div class="user-photography">
  <div class="images-left">
    <img alt="Photography Example" src="https://example.com/path/to/photography.jpg" />
  </div>
  <div class="contents-right">
    <h3>Photography Portfolio</h3>
    <p>Here are some examples of my photography work:</p>
    <div class="photo-gallery">
      <div class="photo">
        <img alt="Photo 1" src="https://www.instagram.com/p/C4ARO6Yueyj/" />
        <p>Los Angeles</p>
      </div>
      <div class="photo">
        <img alt="Photo 2" src="https://www.instagram.com/p/CzJ7bl_vmPz/" />
        <p>Rishikesh</p>
      </div>
    </div>
  </div>
</div>

