<div class="user-details">
    <h1> My Hobby</h1>
</div>
<!-- First Instagram Post -->
<div class="user-photography">
  <div class="images-left">
    <!-- Embedded Instagram Image -->
    <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/C4ARO6Yueyj/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"></div></blockquote> <script async src="//www.instagram.com/embed.js"></script>
  </div>
  <div class="contents-right">
    <h3>Instagram Photography</h3>
    <p>Here is one of my photography works from Instagram:</p>
    <!-- Add a description if necessary -->
  </div>
</div>

<!-- Second Instagram Post -->
<div class="user-photography">
  <div class="images-right">
    <!-- Embedded Instagram Image -->
    <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/CzJ7bl_vmPz/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"></div></blockquote> <script async src="//www.instagram.com/embed.js"></script>
  </div>
  <div class="contents">
    <h3>Instagram Photography</h3>
    <p>Here is another one of my photography works from Instagram:</p>
    <!-- Add a description if necessary -->
  </div>
</div>


