<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="coder" src="{{ "\assets\img\nn.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Predicting Agricultural Yield by Integrating Remote Sensing Data and Machine Learning Technology</h3>
    <ul>
      <li>DeepLearning, Neural-Networks, Remote Sensing</li>
    </ul>
    <p>Developed ML model for Punjab crop yield prediction using 17 years of weather, soil, and NDVI data. Utilizing statistical methods,
ML algorithms, and real-world validation.</p>
    <a class="project-link" href="https://github.com/helloitsdaksh/NN-from-Scratch">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "\assets\img\quote.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> NN-from-Scratch</h3>
    <ul>
      <li>DeepLearning, Neural-Networks</li>
    </ul>
    <p>Built a Neural Network of 3 layers using NumPy and by coding all the equations from scratch. The accuracy achieved 84% on MNIST data.</p>
    <a class="project-link" href="https://doi.org/10.1007/978-981-99-1726-6_6">Check it out</a>
  </div>
</div>
