<div class="user-details">
  <h1>Featured Projects</h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Cancer Detection in BoneMets" src="assets/img/coder.jpg" />
  </div>
  <div class="contents-right">
    <h3>Cancer Detection in BoneMets using Deep Learning Technologies</h3>
    <ul>
      <li>Deep Learning, Medical Imaging</li>
    </ul>
    <p>Redesigned a deep learning model for detecting bone metastases (BoneMets) in cancer patients using convolutional neural networks (CNNs). Analyzed medical imaging data to enhance cancer diagnosis and treatment.</p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Restaurant Recommendation System" src="assets/img/quote.jpg" />
  </div>
  <div class="contents">
    <h3>Restaurant Recommendation System</h3>
    <ul>
      <li>Machine Learning, Big Data</li>
    </ul>
    <p>Developed a recommendation system using Spark, Python, Hadoop, SQL, and Java. Extracted and cleaned data from Yelp, then utilized a distributed storage system for data mining and recommendation.</p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Predicting Agricultural Yield" src="assets/img/nn.jpg" />
  </div>
  <div class="contents-right">
    <h3>Predicting Agricultural Yield by Integrating Remote Sensing Data and Machine Learning Technology</h3>
    <ul>
      <li>Deep Learning, Neural Networks, Remote Sensing</li>
    </ul>
    <p>Developed a machine learning model for predicting crop yield in Punjab using 17 years of weather, soil, and NDVI data. Employed statistical methods, machine learning algorithms, and real-world validation techniques.</p>
    <!-- <a class="project-link" href="https://doi.org/10.1007/978-981-99-1726-6_6">Check it out</a> -->
  </div>
</div>
