<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="coder" src="{{ "portfolio\src\img\coder.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>NN-from-Scratch </h3>
    <ul>
      <li>DeepLearning, Neural-Networks</li>
    </ul>
    <p>Built a Neural Network of 3 layers using NumPy and by coding all the equations from scratch. The accuracy achieved 84% on MNIST data.</p>
    <a class="project-link" href="https://github.com/helloitsdaksh/NN-from-Scratch">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "\assets\img\quote.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Plant-Disease-Identification</h3>
    <ul>
      <li>Image classification, Tensorflow </li>
    </ul>
    <p>Created a Deep Learning model for the classification of 38 types of different diseases in plants. The model I used is EfficientNetB0 which worked better than ResNetV250, approaching the accuracy of 98.79% for the detection of diseases in particular images of a leaf.</p>
    <a class="project-link" href="https://www.kaggle.com/code/helloitsdaksh/plant-diseaseclassification-using-transferlearning/notebook">Check it out</a>
  </div>
</div>
