<div class="user-details">
    <h1>Resume</h1>
    <p style="text-align: center">
      <a style="text-align: center"> Gujarat,India</a>
    </p>
</div>
<div>
    <h3 id="education">Education</h3>
    <p>
      <strong>SRM Institute of Science and Technology</strong>, <strong>Chennai, Tamil Nadu</strong>
      <br> Bachelors of Technology in Computer Science, <strong>Cumulative GPA:</strong> 9.57/10.0 <br> May 2023
    </p>
    <ul>
      <li><strong>Areas Of Interest:</strong> Machine Learning, Computer Vision, Data Science, Research <br></li>
      <li><strong>Computer Skills:</strong> Python, Docker, AWS(ECS), Flask,Tensorflow, Numpy, Pandas, Basic OpenCV, Scikit-Learn, Matplotlib, Linux, Seaborn.</li>
    </ul>
    <h3 id="work-experience">Work Experience</h3>
    <p>
      <strong>Siksti Technologies Bengaluru, India</strong>
      <br>
      <em>Python Backend Developer</em>
      <br>
      <em>01/2023- Present</em>
    </p>
    <ul>
      <li>Handled Major chunk of Backend Operations.</li>
      <li>Creating Catalogue and Inventory upload Scripts, making the process about 80% faster.</li>
      <li>Improved the API response time by 66%.</li>
    </ul>
    <p>
      <strong>Sixth Consultancy Chennai, India</strong>
      <br>
      <em>Data Scientist</em>
      <br>
      <em>12/2021- 02/2022</em>
    </p>
    <ul>
      <li>Created a Script to handle streaming data of the stock market and reviewing it every min with a script written in python.</li>
      <li>Creating a script that allows storing the data of a particular company in the database every minute from the API.</li>
      <li>Tested my Script over various Companies listed in BSE and NSE.</li>
    </ul>
    <p>
      <strong>Infigon Futures Mumbai, India</strong>
      <br>
      <em>Python Developer/Data Science Team Lead</em>
      <br>
      <em>6/2021-11/2021</em>
    </p>
    <ul>
      <li>Managed and Analyzed the workflow of the Python Developer Team on the Projects and also lead 3 different teams of new interns.</li>
      <li>Managed the Deployment side of the Projects using AWS(ECS).</li>
      <li>Implemented my very own Resume-Parser Module using NLP, Data-extracting and many more.</li>
    </ul>
    <p>
      <em>Python Developer Intern</em>
      <br>
      <em>4/2021- 6/2021</em>
    </p>
    <ul>
      <li>Worked on College Prediction Module, Scraped data for the same of more than 200+ colleges.</li>
      <li>Created A Welcome Email Module for the new users and also a WhatsApp Automator for automating messages.</li>
      <li>Created and Tested more than 10 APIs for different purposes of the App using Flask and Postman.</li>
    </ul>
    <p>
      <strong>Elixar Tech Chennai, India</strong>
      <br>
      <em>Graphic Designer</em>
      <br>
      <em>3/2020- 3/2021</em>
    </p>
    <ul>
      <li>Tasked to make Logo for clients and also design UI/UX for the Mobile Apps</li>
      <li>Designed Brochures for the Organisation and worked on many projects such as designing business Cards, Instagram Stories and posts and many other ways of digital marketing services.</li>
    </ul>
</div>
<div>
    <h3 id="projects-added">PROJECTS</h3>
    <p>
      <strong>Document-Enhancer</strong>
      <br>
    </p>
    <ul>
      <li>Document Enhancer is basically an Application that can be used to detect documents using Images as well as by capturing the image from the user&#39;s mobile camera, followed by taking part in a hackathon as a team where we were among the top 5 teams.</li>
    </ul>
    <p>
      <strong>Digit-Recognizer</strong>
      <br>
    </p>
    <ul>
      <li>Created an app that detects handwritten digits from 0 to 9 using neural networks; the dataset used was mnist.npz, an official dataset provided by TensorFlow. The model is deployed on Heroku using a FLASK REST API.</li>
    </ul>
    <p>
      <strong>Food-101</strong>
      <br>
    </p>
    <ul>
      <li>Using Transfer Learning tried to classify 101 food dishes and also beat the base paper accuracy which was achieved using Random Forest.</li>
    </ul>
</div>
<div>
    <h3 id="publications">PUBLICATIONS</h3>
     <p>
      <strong>The Effects of Climate Change on Crop Yield</strong>
      <br>
      <em>International Conference on Intelligent Sustainable Systems, Springer</em>
      <br>
      <em>June 2023</em>
      <br>
      <a href="https://link.springer.com/chapter/10.1007/978-981-99-1726-6_6">link</a>   
    </p>
    <ul>
        <li>We develop machine learning and deep learning models using the simulated dataset Projected_Impacts to estimate crop yield per hectare. Our results show that the Artificial Neural Network with Bottleneck autoencoder achieves the highest accuracy.</li>
    </ul>
    <p>
      <strong>Blockchain in Food Supply Chain</strong>
      <br>
      <em>ScienceDirect/Elsevier</em>
      <br>
      <em>December 2022</em>
      <br>
      <a href="https://www.sciencedirect.com/science/article/pii/S1877050922021056?via%3Dihub">link</a>  
    </p>
    <ul>
      <li>The feasibility of blockchain in the food supply chain was investigated through our research.</li>
    </ul>
    <p>
      <strong>Weather Prediction using ANN</strong>
      <br>
      <em>IJARESM Journal</em>
      <br>
      <em>July 2022</em>
      <br>
      <a href="http://www.ijaresm.com/search?x=0&y=0&keyword2=Weather+Prediction+using+ANN+">link</a>  
    </p>
    <ul>
      <li>A Back Propagation Neural Network Technique predict on weather condition on real time dataset. Basically we calculated the Gradient Descent to minimize error in the Artificial Neural Network.</li>
    </ul>
</div>
<div>
    <h3 id="professional-association">PROFESSIONAL ASSOCIATION</h3>
    <p>
      <strong>ACM-W Chennai, India</strong>
      <br>
      <em>Machine Learning Executive</em>
      <br>
      <em>10/2021-Present</em>
    </p>
    <ul>
      <li>Helping newcomers into the field of Machine Learning as a Mentor.</li>
      <li>Also contributing to the community of ACM-W as a hardworking Machine Learning Executive, working on projects based on ML/DL.</li>
    </ul>
    <p>
      <strong>Aakash Research Labs Chennai, India</strong>
      <br>
      <em>Machine Learning Head</em>
      <br>
      <em>6/2022-Present</em>
    </p>
    <ul>
      <li>Evaluating and Guiding Juniors in the team, also making them work on projects.</li>
      <li>Uplifting the team with new skills and making them learn new technologies.</li>
    </ul>
    <p>
      <em>Deputy Secretary</em>
      <br>
      <em>6/2021-5/2022</em>
    </p>
    <ul>
      <li>Evaluating and Managing the Organisation, Bringing forth an excellent track record towards the Organisation.</li>
      <li>Organised event Tekmux for school students of class 12 in the month of August.</li>
    </ul>
    <p>
      <em>ML Executive</em>
      <br>
      <em>2/2021-6/2021</em>
    </p>
    <ul>
      <li>Made my first ever Deep Learning model of Digit Recognition and deployed it over Heroku using Flask API in an App.</li>
      <li>Created my own 3 Layered Neural Network from scratch using NumPy only. </li>
      <li>Working on Healthcare Project with my teammate at Aakash Research Labs</li>
    </ul>
    <p>
      <em>Graphic Designer</em>
      <br>
      <em>3/2020- 3/2021</em>
    </p>
    <ul>
      <li>Tasked to make Posters for various events organized by the Organisation</li>
      <li>Tasked to create promotional posters and stories for the Organisation. </li>
    </ul>
</div>
<div>
    <h3 id="awards-certifications">AWARDS &amp; CERTIFICATIONS</h3>
    <ul>
      <li>Machine Learning by Stanford University, Coursera</li>
      <li>Deep Learning Specialization (5 Courses) by DeepLearning.AI, Coursera</li>
      <li>Among top 5 teams in AMU Battlegrounds Hackathon made a Document Enhancer App.</li>
    </ul>
</div>
