<style>
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #f4f4f4;
    padding: 20px;
    z-index: 999;
    display: none; /* Initially hidden */
  }

  /* Sidebar links */
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }

  .sidebar li {
    margin-bottom: 10px;
  }

  .sidebar a {
    display: block;
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
    padding: 5px 10px;
    border-radius: 5px;
  }

  /* Active link */
  .sidebar a.active {
    color: #007bff;
    background-color: #e9e9e9;
  }

  /* Content sections */
  .content {
    margin-right: 200px; /* Adjust according to sidebar width */
    padding: 20px;
  }
</style>

<div class="sidebar" id="sidebar">
  <ul>
    <li><a href="#summary">Summary</a></li>
    <li><a href="#education">Education</a></li>
    <li><a href="#work-experience">Work Experience</a></li>
    <li><a href="#leadership-and-involvement">Leadership and Involvement</a></li>
    <li><a href="#publications">Publications</a></li>
    <li><a href="#skills-and-interests">Skills and Interests</a></li>
    <li><a href="#achievements-and-certifications">Achievements and Certifications</a></li>
  </ul>
</div>

<div class="content">
<div class="user-details">
  <h1>Resume</h1>
</div>
<div id="summary">
  <h2>Summary</h2>
  <p><strong>Accomplished data scientist</strong> with a proven track record in machine learning, deep learning, and data analysis. Experienced in developing innovative solutions to complex problems across multiple domains. Seeking opportunities to leverage expertise in impactful projects within a dynamic environment.</p>
</div>

<div id="education">
  <h2>Education</h2>
  <p>
    <strong>University of Southern California</strong>, Los Angeles, CA<br>
    <strong>Master of Science in Applied Data Science</strong>, GPA: 3.65/4.0 (Aug 2023-Present)<br>
    Relevant Coursework: Data Analysis, Data Visualization, Modeling, Debugging, Probability, Statistics, Statistical Testing, Deep Learning, Fine-tuning.
  </p>
  <p>
    <strong>SRM Institute of Science and Technology</strong>, Chennai, India<br>
    <strong>Bachelor of Technology in Computer Science</strong>, GPA: 4.0/4.0 (June 2019-May 2023)<br>
    Relevant Coursework: Data Mining and Analysis, Artificial Intelligence, Advanced Programming Practice.
  </p>
</div>

<div id="work-experience">
  <h2>Work Experience</h2>
  <p>
    <strong>University of Southern California</strong>, Los Angeles, CA<br>
    <strong>Teaching Assistant (Course Producer)</strong>, Jan 2024-Present<br>
    - Provided personalized guidance to students, aiding them in understanding and approaching Data Science assignments effectively.<br>
    - Offered assistance and clarification to students, ensuring their comprehension and success in completing Data Science tasks.
  </p>
  <p>
    <strong>Keck School of Medicine, USC</strong>, Los Angeles, CA<br>
    <strong>Research Assistant</strong>, Nov 2023-Present<br>
    - Led research endeavors aimed at enhancing medical image classification algorithms, resulting in heightened diagnostic precision.<br>
    - Applied cutting-edge deep learning methodologies to optimize feature extraction and classification processes, thereby improving interpretability and efficiency of medical imaging systems.<br>
    - Implemented a novel data preprocessing approach to mitigate imbalance and enhance model robustness during training, leading to superior classification performance and a boosted accuracy by 10%.
  </p>
  <p>
    <strong>Siksti Technologies</strong>, Bengaluru, India<br>
    <strong>Data Scientist/Backend Developer</strong>, Jan 2023-Sept 2023<br>
    - Leveraged data analysis techniques to identify sales trends, enabling data-driven decision-making and contributing to a 10% increase in revenue.<br>
    - Engineered and implemented innovative backend solutions using Django and PostgreSQL, resulting in an 80% enhancement in efficiency for catalog and inventory upload processes.<br>
    - Boosted API response time by 66% through the application of performance optimization techniques, significantly improving user experience.
  </p>
</div>

<div id="leadership-and-involvement">
  <h2>Leadership and Involvement</h2>
  <p>
    <strong>GRIDS @USC</strong>, Los Angeles, CA<br>
    <strong>Tech Team Board Member</strong>, Aug 2023-Present<br>
    - Demonstrated strong leadership by organizing and leading hackathons, workshops, and team projects, showcasing effective project management skills and fostering a collaborative environment for skill development.<br>
    - Provided mentorship to junior club members, facilitating their growth in machine learning, data analysis, and programming, while also emphasizing the importance of teamwork and communication.
  </p>
</div>

<div id="publications">
  <h2>Publications</h2>
  <ul>
    <li><strong>Patel, D., Das, B., & Minu, R. I.</strong> (2023). The effects of climate change on crop yield. In Lecture notes in networks and systems (pp. 59–71). DOI: 10.1007/978-981-99-1726-6_6</li>
    <li><strong>Patel, D., Sinha, A., Bhansali, T., Usha, G., & Velliangiri, S.</strong> (2022). Blockchain in food supply chain. Procedia Computer Science, 215, 321–330. DOI: 10.1016/j.procs.2022.12.034</li>
  </ul>
</div>

<div id="skills-and-interests">
  <h2>Skills and Interests</h2>
  <p>
    <strong>Languages</strong>: Python, R, Java, CPP
  </p>
  <p>
    <strong>Frameworks/Libraries</strong>: TensorFlow, PyTorch, Scikit-learn, XGBoost, CatBoost, Pandas, NumPy, SpaCy, Tesseract, Statsmodels, Matplotlib, Seaborn, Keras, BeautifulSoup, Selenium, Django, Flask
  </p>
  <p>
    <strong>Databases and Cloud</strong>: SQL, PostgreSQL, NoSQL, JSON, XML, Firebase, AWS, Azure
  </p>
  <p>
    <strong>Big Data Tools and Technologies</strong>: Spark, Hadoop, Hive, Tableau, Power BI, Kafka, Apache Airflow, Jenkins, JIRA, Redis, Excel
  </p>
</div>

<div id="achievements-and-certifications">
  <h2>Achievements and Certifications</h2>
  <ul>
    <li>Among the Top 5 students in DSCI 552 Machine Learning for Data Science under Prof. Mohammad Reza Rajati.</li>
    <li>Machine Learning by Stanford University, Coursera, and Deep Learning Specialization by DeepLearning.AI, Coursera.</li>
  </ul>
</div>

</div>

<!-- Other sections omitted for brevity -->

</div>

<script>
// Function to toggle sidebar visibility based on scroll position
function toggleSidebar() {
  var sidebar = document.querySelector(".sidebar");
  var resumeSection = document.querySelector(".content");
  var resumeSectionTop = resumeSection.offsetTop;
  var resumeSectionHeight = resumeSection.offsetHeight;
  var viewportHeight = window.innerHeight;
  var scrollPosition = window.scrollY || window.pageYOffset;

  if (scrollPosition >= resumeSectionTop && scrollPosition <= (resumeSectionTop + resumeSectionHeight - (resumeSectionHeight * 0.1))) {
    sidebar.style.display = "block";
  } else {
    sidebar.style.display = "none";
  }
}

// Add scroll event listener to toggle sidebar visibility
window.addEventListener("scroll", toggleSidebar);
</script>