<div class="user-details">
    <h1>Daksh Patel</h1>
    <p>Los Angeles, CA</p>
</div>
<div>
    <h3 id="education">EDUCATION</h3>
    <p>
        <strong>University of Southern California</strong>, <strong>Los Angeles, CA</strong><br>
        Master of Science in Applied Data Science, Cumulative GPA: Yet to know<br>
        <ul>
            <li>Relevant Coursework: Foundations of Data Management, Machine Learning for Data Science.</li>
        </ul>
    </p>
    <p>
        <strong>SRM Institute of Science and Technology</strong>, <strong>Chennai, Tamil Nadu</strong><br>
        Bachelor of Technology in Computer Science, Cumulative GPA: 3.8/4.0<br>
        <ul>
            <li>Relevant Coursework: Data Mining and Analysis, Artificial Intelligence, Advanced Programming Practice.</li>
        </ul>
    </p>
</div>
<div>
    <h3 id="technical-skills">TECHNICAL SKILLS</h3>
    <p>
        <strong>Hard Skills:</strong> Data Analysis(Intermediate), Data Visualization(Advanced), Modeling(Advanced), Debugging(Advanced), Probability(Advanced), Statistics(Intermediate), Statistical Testing(Intermediate).
    </p>
    <p>
        <strong>Databases:</strong> SQL(PostgreSQL), NoSQL(JSON, XML), Firebase
    </p>
    <p>
        <strong>Tools and Software:</strong> Python, Tensorflow, Numpy, Pandas, Scikit-Learn, Matplotlib, Seaborn, Flask/Django, Statmodels, Git, Hadoop, Postman, Pycharm, Tableau, Dataspell.
    </p>
</div>
<div>
    <h3 id="work-experience">WORK EXPERIENCE</h3>
    <p>
        <strong>Keck School of Medicine of the University of Southern California</strong>, Los Angeles, CA<br>
        <em>Research Assistant</em><br>
        <em>November 2023 - Present</em>
    </p>
    <ul>
        <li>Working on Image segmentation for Prostate cancer lesion detection.</li>
        <li>Utilizing Transfer Learning techniques to enhance the accuracy and efficiency of the segmentation process.</li>
    </ul>
    <p>
        <strong>Siksti Technologies (Startup)</strong>, Bengaluru, India<br>
        <em>Lead Backend Developer / Data Science Intern</em><br>
        <em>January 2023 - August 2023</em>
    </p>
    <ul>
        <li>Spearheaded critical Backend Operations, overseeing the development and maintenance of key systems.</li>
        <li>Engineered efficient Catalog and Inventory upload scripts, streamlining the process and reducing processing time by 80%.</li>
        <li>Optimized API response time by 66%, significantly enhancing the overall performance and user experience.</li>
        <li>Conducted in-depth data analysis for sales trends, enabling data-driven decision-making and driving revenue growth.</li>
    </ul>
    <p>
        <strong>Sixth Consultancy</strong>, Chennai, India<br>
        <em>Data Science Intern</em><br>
        <em>December 2021 - February 2022</em>
    </p>
    <ul>
        <li>Created a Script to handle streaming data of the stock market and reviewed it every minute with a script written in Python.</li>
        <li>Creating a script that allows storing a particular company's data in the database every minute from the API.</li>
    </ul>
    <p>
        <strong>Infigon Futures (Startup)</strong>, Mumbai, India<br>
        <em>Python Developer/ Data Science Team Lead</em><br>
        <em>June 2021 - November 2021</em>
    </p>
    <ul>
        <li>Managed and Analyzed the workflow of the Python Developer Team on the Projects and led 3 different teams of new interns.</li>
        <li>Implemented custom Resume-Parser Module using NLP, Data-extracting and even creating resumes using LaTeX using a Python script.</li>
    </ul>
    <p>
        <em>Python Developer Intern</em><br>
        <em>April 2021 - June 2021</em>
    </p>
    <ul>
        <li>Worked on College Prediction Module, Scraped data for the same of more than 200+ colleges.</li>
        <li>Created A Welcome Email Module for the new users and a WhatsApp Automator for automating messages.</li>
    </ul>
</div>
<div>
    <h3 id="research-projects">PROJECTS</h3>
    <p>
        <strong>Predicting Agricultural Yield by Integrating Remote Sensing Data and Machine Learning Technology</strong>
    </p>
    <ul>
        <li>Developed ML model for Punjab crop yield prediction using 17 years of weather, soil, and NDVI data. Utilizing statistical methods, ML algorithms, and real-world validation.</li>
        <li>Incorporated findings in research publication, "<a href="https://doi.org/10.1007/978-981-99-1726-6_6">The Effects of Climate Change on Crop Yield</a>" (Patel, Daksh, et al., 2023), to enhance the accuracy of yield predictions.</li>
    </ul>
    <p>
        <strong>Food-101</strong>
    </p>
    <ul>
        <li>Implemented custom Transfer Learning Model to classify 101 food dishes and also beat the base paper accuracy, which was achieved using Random Forest at about 56%, whereas my model showed an accuracy of 82%.</li>
    </ul>
    <p>
        <strong>Document-Enhancer</strong>
    </p>
    <ul>
        <li>Document Enhancer is an Application that can detect documents using images and by capturing the image from the user’s mobile camera, followed by taking part in a hackathon as a team, placed among the top 5 teams.</li>
    </ul>
    <p>
        <strong>Research work: Blockchain-based Food Supply Chain</strong>
    </p>
    <ul>
        <li>Developed a robust framework utilizing blockchain for enhanced transparency, traceability, and trust in the agricultural supply chain.</li>
        <li>Conducted comprehensive research on blockchain technology's application in the food supply chain, resulting in the publication of "<a href="https://doi.org/10.1016/j.procs.2022.12.034">Blockchain in Food Supply Chain</a>" in Procedia Computer Science (Jan. 2022).</li>
    </ul>
</div>
<div>
    <h3 id="professional-associations">PROFESSIONAL ASSOCIATIONS</h3>
    <p>
        <strong>Graduates Rising in Information and Data Science (GRIDS) @USC</strong>, Los Angeles, CA<br>
        <em>Data Science Team Member</em><br>
        <em>August 2023 - Present</em>
    </p>
    <ul>
        <li>Mentor and guide junior club members on data science projects, providing technical expertise and fostering their skill development in machine learning, data analysis, and programming.</li>
    </ul>
</div>
<div>
    <h3 id="awards-certifications">AWARDS & CERTIFICATIONS</h3>
    <ul>
        <li>Machine Learning by Stanford University, Coursera.</li>
        <li>Deep Learning Specialization (5 Courses) by DeepLearning.AI, Coursera.</li>
        <li>Among the top 5 teams in AMU, Battlegrounds Hackathon made a Document Enhancer App.</li>
        <li>Database Foundations by Oracle, 2022.</li>
        <li>Machine Learning A-ZTM: Hands-On Python & R In Data Science by SuperDataScience, Udemy, 2020.</li>
    </ul>
</div>
